In [1]:
import boto3
from io import BytesIO
import pandas as pd
import numpy as np
from scrapy import Selector
import requests
import re
from bs4 import BeautifulSoup
from typing import List
from sklearn.impute import KNNImputer

# Data Extraction

In [2]:
s3 = boto3.client('s3',
    aws_access_key_id='ASIAYAAO5HRMOPEPIGVY',
    aws_secret_access_key='c1gVwJG0I46QYcwQNqrRm/yCRKICLO03XbPbP4vD',
    aws_session_token='IQoJb3JpZ2luX2VjEMz//////////wEaCXVzLWVhc3QtMiJGMEQCIG0QE2ugG6VpGDheiBqD9Ge0tx3JeIKKihcoSIm567lUAiAZ0fGfh3PyA8RQ3QeqyaxcDz2+O2b9dWo4/YkJ0VcxJirrAgg2EAAaDDU0OTc4NzA5MDAwOCIM8XnDLZ7HE0pZxExFKsgCd8KAxfdy+3wNl0fOwLzNmNPnK1iIIru43Hd3QSiw5Z8HROU5A3pA4INkwcnU+rkkkKCUqr6d1/XbGQn0k0mAQoY5ai40ZrBk/b5Rnr6ypHpNvLDzPvs/xoTc75S0t3FvEbOFF+BFmBkvKOARNc6iJSuh8tpMpyWooJD4avKNDHNVgmVV2rTzPtoDK92FSvzjQyawbKmkq9xGGGCrdZYq0zlz/To/FRB8eNoLjmdS5YlyGxEKVQzg3r7xlkWjnD2yqdfxIuaLphqg4gkAnuNRhH/U28A67DEp49Wm1w4MNY8eOI9c1FfDGvY7awpoVRSRrb68Wgye/or9ka6sTVCsMTuGIGUmUsZMTVCSSg7httTiLIV3NVkhuly6fhrpdPMaJ+/egUWZmBRAnXqUaThIhSFMbFVVXQZ9ePHlr34GRdoyP7ioQGer/TCoh/qxBjqoAZLhJxvVHMVhmjXcop8CAWkPEafPAS+xcjgDF0pVuD4iHEsB8TKe7td8KptJWie7aMhNr27zqnSWHl1CFqjNf1Fxzg9jAg4hnhslO1+sjvyChSa8NkZa6gfVT1MfSd7YOiLnk4yCEaJv0hZUaorAPhcSUIJBi0eR8JU9GHecr7Zl+WeUlpjNYGCMtBZxP64JE/S1f1ibcJ7gfvkuq02TG8Y+hndNOFpWOQ==')

bucket_name = 'de300spring2024'
object_key = 'cindy_vong/heart_disease(in).csv'

In [3]:
csv_obj = s3.get_object(Bucket=bucket_name, Key=object_key)
body = csv_obj['Body']
csv_string = body.read().decode('utf-8')

In [4]:
heartdisease = pd.read_csv(BytesIO(csv_string.encode()))
heartdisease = heartdisease[['age','sex','painloc','painexer','cp','trestbps','smoke','fbs','prop','nitr','pro','diuretic',
                             'thaldur','thalach','exang','oldpeak','slope','target']]
heartdisease.head()

,age,sex,painloc,painexer,cp,trestbps,smoke,fbs,prop,nitr,pro,diuretic,thaldur,thalach,exang,oldpeak,slope,target
0,63,1,NaN,NaN,1,145.0,NaN,1.0,0.0,0.0,0.0,0.0,10.5,150.0,0.0,2.3,3.0,0
1,67,1,NaN,NaN,4,160.0,NaN,0.0,1.0,0.0,0.0,0.0,9.5,108.0,1.0,1.5,2.0,1
2,67,1,NaN,NaN,4,120.0,NaN,0.0,1.0,0.0,0.0,0.0,8.5,129.0,1.0,2.6,2.0,1
3,37,1,NaN,NaN,3,130.0,NaN,0.0,1.0,0.0,0.0,0.0,13.0,187.0,0.0,3.5,3.0,0
4,41,0,NaN,NaN,2,130.0,NaN,0.0,0.0,0.0,0.0,0.0,7.0,172.0,0.0,1.4,1.0,0

In [5]:
url1 = 'https://www.abs.gov.au/statistics/health/health-conditions-and-risks/smoking/latest-release'
url2 = 'https://www.cdc.gov/tobacco/data_statistics/fact_sheets/adult_data/cig_smoking/index.htm'

In [6]:
def extract_tables(url):
    response = requests.get(url1)
    html_content = response.content

    full_sel=Selector(text=html_content)
    full_sel
    tables = full_sel.xpath('//table')
    tables[2].xpath('./caption/text()').get()
    html = tables[2].extract()

    soup = BeautifulSoup(html, 'html.parser')

    # Find all rows in the table body
    rows = soup.find_all('tr')

    # Extracting column headers
    column_headers = [th.text.strip() for th in rows[0].find_all('th') if th.text.strip()]

    # Extracting data rows
    data = []
    for row in rows[1:]:
        row_header = row.find('th').text.strip()
        row_data = [row_header] + [td.text.strip() for td in row.find_all('td')]
        data.append(row_data)

    # Creating DataFrame
    df = pd.DataFrame(data, columns=['Age Group'] + column_headers)
    return df

smokingrates1 = extract_tables(url1)

In [7]:
def get_smoking_rate1(row,smokingrates):
    age = row['age']
    sex = row['sex']
    
    # Determine age group based on age
    if age < 17:
        age_group = '15–17(a)'
    elif age < 25:
        age_group = '18–24'
    elif age < 35:
        age_group = '25–34'
    elif age < 45:
        age_group = '35–44'
    elif age < 55:
        age_group = '45–54'
    elif age < 65:
        age_group = '55–64'
    elif age < 75:
        age_group = '65–74'
    else:
        age_group = '75 years and over'
    
    # Retrieve smoking rate based on age group and gender
    if row['smoke'] != None:
        return row['smoke']
    elif sex == 1:
        return float(smokingrates.loc[smokingrates['Age Group'] == age_group, 'Males (%)'].values[0])
    elif sex == 0:
        return float(smokingrates.loc[smokingrates['Age Group'] == age_group, 'Females (%)'].values[0])
    else:
        return None

heartdisease['smoke1'] = heartdisease.apply(lambda x: get_smoking_rate1(x,smokingrates1), axis=1)

heartdisease.head()

,age,sex,painloc,painexer,cp,trestbps,smoke,fbs,prop,nitr,pro,diuretic,thaldur,thalach,exang,oldpeak,slope,target,smoke1
0,63,1,NaN,NaN,1,145.0,NaN,1.0,0.0,0.0,0.0,0.0,10.5,150.0,0.0,2.3,3.0,0,NaN
1,67,1,NaN,NaN,4,160.0,NaN,0.0,1.0,0.0,0.0,0.0,9.5,108.0,1.0,1.5,2.0,1,NaN
2,67,1,NaN,NaN,4,120.0,NaN,0.0,1.0,0.0,0.0,0.0,8.5,129.0,1.0,2.6,2.0,1,NaN
3,37,1,NaN,NaN,3,130.0,NaN,0.0,1.0,0.0,0.0,0.0,13.0,187.0,0.0,3.5,3.0,0,NaN
4,41,0,NaN,NaN,2,130.0,NaN,0.0,0.0,0.0,0.0,0.0,7.0,172.0,0.0,1.4,1.0,0,NaN

In [8]:
def extract_cdc(url2):
    response = requests.get(url2)
    soup = BeautifulSoup(response.content, 'html.parser')

    # Find all list items containing smoking rates
    list_items = soup.find_all('li')

    # Iterate through list items to find smoking rates for men and women
    for item in list_items:
        text = item.get_text()
        if "adult men" in text:
            mr = float(text.split('(')[-1].split('%')[0])
        elif "adult women" in text:
            wr = float(text.split('(')[-1].split('%')[0])

    # Find smoking rates for each age group
    age_groups_rates = {}

    age_groups_rates['female'] = wr/100
    age_groups_rates['male'] = mr/100

    age_group_tags = soup.find_all('h4', class_='card-header')
    for tag in age_group_tags:
        if 'By Age' in tag.text:
            age_group_data = tag.find_next('div', class_='card-body').find_all('li')
            for data in age_group_data:
                age_group_text = data.get_text()
                if 'every' in age_group_text:
                    age_group = age_group_text.split(' ')[-3]  # Extracting age group from the text
                    rate = float(age_group_text.split('(')[-1].split('%')[0])  # Extracting smoking rate
                    age_groups_rates[age_group] = float(rate)/100
    return age_groups_rates

smokingrates2 = extract_cdc(url2)
smokingrates2

{'female': 0.10099999999999999,
 'male': 0.131,
 '18–24': 0.053,
 '25–44': 0.126,
 '45–64': 0.149,
 'and': 0.083}

In [9]:
def get_smoking_rate2(row,smokingrates):
    age = row['age']
    sex = row['sex']
    
    # Determine age group based on age
    if age <= 24:
        group = "18–24"
    elif age <= 44:
        group = "25–44"
    elif age <= 64:
        group = "45–64"
    else:
        group = "and"
    
    if row['smoke'] != None:
        return row['smoke']
    elif sex == 0:
        smoke = smokingrates.get(group)
    else:
        smoke = smokingrates.get(group)*smokingrates.get('male')/smokingrates.get('female')
    return smoke

heartdisease['smoke2'] = heartdisease.apply(lambda row: get_smoking_rate2(row,smokingrates2), axis=1)
heartdisease.head(5)

,age,sex,painloc,painexer,cp,trestbps,smoke,fbs,prop,nitr,pro,diuretic,thaldur,thalach,exang,oldpeak,slope,target,smoke1,smoke2
0,63,1,NaN,NaN,1,145.0,NaN,1.0,0.0,0.0,0.0,0.0,10.5,150.0,0.0,2.3,3.0,0,NaN,NaN
1,67,1,NaN,NaN,4,160.0,NaN,0.0,1.0,0.0,0.0,0.0,9.5,108.0,1.0,1.5,2.0,1,NaN,NaN
2,67,1,NaN,NaN,4,120.0,NaN,0.0,1.0,0.0,0.0,0.0,8.5,129.0,1.0,2.6,2.0,1,NaN,NaN
3,37,1,NaN,NaN,3,130.0,NaN,0.0,1.0,0.0,0.0,0.0,13.0,187.0,0.0,3.5,3.0,0,NaN,NaN
4,41,0,NaN,NaN,2,130.0,NaN,0.0,0.0,0.0,0.0,0.0,7.0,172.0,0.0,1.4,1.0,0,NaN,NaN

# Data Transformation

In [10]:
# data transformation using knn imputation
def knn_imputation(df, col, high=float('inf'), low=float('-inf')):
    # Replace values outside the specified range with NaN
    df.loc[df[col] < low, col] = np.nan
    df.loc[df[col] > high, col] = np.nan
    
    # Perform KNN imputation
    imputer = KNNImputer(n_neighbors=5)
    imputed = imputer.fit_transform(df[[col]])
    
    # Update the DataFrame with imputed values
    df[col] = imputed.flatten()  # Update the original DataFrame in place

In [11]:
cols = ['painloc','painexer','thaldur','thalach','exang','slope']
for col in cols:
    knn_imputation(heartdisease,col)
cols = ['fbs','prop','nitr','pro','diuretic']
for col in cols:
    knn_imputation(heartdisease,col,high=1)
knn_imputation(heartdisease,'trestbps',low=100)

heartdisease.head()

,age,sex,painloc,painexer,cp,trestbps,smoke,fbs,prop,nitr,pro,diuretic,thaldur,thalach,exang,oldpeak,slope,target,smoke1,smoke2
0,63,1,0.920583,0.593193,1,145.0,NaN,1.0,0.0,0.0,0.0,0.0,10.5,150.0,0.0,2.3,3.0,0,NaN,NaN
1,67,1,0.920583,0.593193,4,160.0,NaN,0.0,1.0,0.0,0.0,0.0,9.5,108.0,1.0,1.5,2.0,1,NaN,NaN
2,67,1,0.920583,0.593193,4,120.0,NaN,0.0,1.0,0.0,0.0,0.0,8.5,129.0,1.0,2.6,2.0,1,NaN,NaN
3,37,1,0.920583,0.593193,3,130.0,NaN,0.0,1.0,0.0,0.0,0.0,13.0,187.0,0.0,3.5,3.0,0,NaN,NaN
4,41,0,0.920583,0.593193,2,130.0,NaN,0.0,0.0,0.0,0.0,0.0,7.0,172.0,0.0,1.4,1.0,0,NaN,NaN

In [12]:
heartdisease = heartdisease.drop(columns='smoke')

In [13]:
from sklearn.model_selection import train_test_split
# splitting the data with stratification
x = heartdisease.drop(columns='target')
y = heartdisease['target']
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.1, stratify=y, random_state=42)
training = pd.concat([x_train,y_train],axis=1)
testing = pd.concat([x_test,y_test],axis=1)

In [14]:
heartdisease

,age,sex,painloc,painexer,cp,trestbps,fbs,prop,nitr,pro,diuretic,thaldur,thalach,exang,oldpeak,slope,target,smoke1,smoke2
0,63,1,0.920583,0.593193,1,145.0,1.000000,0.0,0.0,0.0,0.0,10.5,150.0,0.0,2.3,3.000000,0,NaN,NaN
1,67,1,0.920583,0.593193,4,160.0,0.000000,1.0,0.0,0.0,0.0,9.5,108.0,1.0,1.5,2.000000,1,NaN,NaN
2,67,1,0.920583,0.593193,4,120.0,0.000000,1.0,0.0,0.0,0.0,8.5,129.0,1.0,2.6,2.000000,1,NaN,NaN
3,37,1,0.920583,0.593193,3,130.0,0.000000,1.0,0.0,0.0,0.0,13.0,187.0,0.0,3.5,3.000000,0,NaN,NaN
4,41,0,0.920583,0.593193,2,130.0,0.000000,0.0,0.0,0.0,0.0,7.0,172.0,0.0,1.4,1.000000,0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
894,54,1,1.000000,1.000000,4,180.0,0.166873,0.0,0.0,0.0,0.0,7.5,150.0,0.0,1.5,2.000000,1,NaN,NaN
895,56,1,1.000000,1.000000,4,125.0,1.000000,0.0,0.0,0.0,0.0,6.5,103.0,1.0,1.0,2.000000,1,1.0,1.0
896,56,1,0.000000,1.000000,3,125.0,0.166873,0.0,0.0,0.0,0.0,6.0,98.0,0.0,-2.0,2.000000,1,NaN,NaN
897,54,1,1.000000,1.000000,4,130.0,0.166873,0.0,0.0,0.0,0.0,9.5,110.0,1.0,3.0,2.000000,1,NaN,NaN
898,66,0,1.000000,1.000000,4,155.0,0.166873,0.0,0.0,0.0,0.0,6.5,90.0,0.0,0.0,1.766497,1,NaN,NaN

# Data Training

In [16]:
from sklearn.model_selection import GridSearchCV
from sklearn.metrics import classification_report
from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.svm import SVC

training = training.dropna()

# Separate features and target
X_train = training.drop(columns=['target'])
y_train = training['target']

# Define classifiers and their hyperparameters
classifiers = {
    'Logistic Regression': LogisticRegression(),
    'Decision Tree': DecisionTreeClassifier(),
    'Random Forest': RandomForestClassifier(),
    'SVM': SVC()
}

# Hyperparameters to tune for each classifier (replace with relevant hyperparameters)
param_grid = {
    'Logistic Regression': {'C': [0.1, 1, 10]},
    'Decision Tree': {'max_depth': [3, 5, None]},
    'Random Forest': {'n_estimators': [100, 200, 300]},
    'SVM': {'C': [0.1, 1, 10], 'kernel': ['linear', 'rbf']}
}

# Train models and perform grid search for hyperparameter tuning
for clf_name, clf in classifiers.items():
    print(f"Training {clf_name}...")
    grid_search = GridSearchCV(clf, param_grid[clf_name], cv=5, scoring='accuracy')
    grid_search.fit(X_train, y_train)
    print(f"Best parameters for {clf_name}: {grid_search.best_params_}")

    # Print the best score found during the grid search
    print(f"Best CV score for {clf_name}: {grid_search.best_score_}")

    # Print the best estimator found during the grid search
    print(f"Best estimator for {clf_name}: {grid_search.best_estimator_}")

    # You can further assess the performance on your test set if needed
    # y_pred = grid_search.best_estimator_.predict(X_test)
    # print(f"Classification report for {clf_name}:")
    # print(classification_report(y_test, y_pred))
    # print()

Training Logistic Regression...

/opt/conda/lib/python3.11/site-packages/sklearn/linear_model/_logistic.py:460: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(
/opt/conda/lib/python3.11/site-packages/sklearn/linear_model/_logistic.py:460: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(
/opt/conda/lib/python3.11/site-packages/sklearn/linear_model/_logistic.py:460: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(
/opt/conda/lib/python3.11/site-packages/sklearn/linear_model/_logistic.py:460: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(
/opt/conda/lib/python3.11/site-packages/sklearn/linear_model/_logistic.py:460: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(
/opt/conda/lib/python3.11/site-packages/sklearn/linear_model/_logistic.py:460: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(
/opt/conda/lib/python3.11/site-packages/sklearn/linear_model/_logistic.py:460: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(
/opt/conda/lib/python3.11/site-packages/sklearn/linear_model/_logistic.py:460: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(
/opt/conda/lib/python3.11/site-packages/sklearn/linear_model/_logistic.py:460: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(
/opt/conda/lib/python3.11/site-packages/sklearn/linear_model/_logistic.py:460: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(
/opt/conda/lib/python3.11/site-packages/sklearn/linear_model/_logistic.py:460: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(
/opt/conda/lib/python3.11/site-packages/sklearn/linear_model/_logistic.py:460: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(
/opt/conda/lib/python3.11/site-packages/sklearn/linear_model/_logistic.py:460: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(
/opt/conda/lib/python3.11/site-packages/sklearn/linear_model/_logistic.py:460: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(
/opt/conda/lib/python3.11/site-packages/sklearn/linear_model/_logistic.py:460: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(
/opt/conda/lib/python3.11/site-packages/sklearn/linear_model/_logistic.py:460: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

Best parameters for Logistic Regression: {'C': 1}
Best CV score for Logistic Regression: 0.8286021505376345
Best estimator for Logistic Regression: LogisticRegression(C=1)
Training Decision Tree...
Best parameters for Decision Tree: {'max_depth': 5}
Best CV score for Decision Tree: 0.6952688172043011
Best estimator for Decision Tree: DecisionTreeClassifier(max_depth=5)
Training Random Forest...
Best parameters for Random Forest: {'n_estimators': 100}
Best CV score for Random Forest: 0.8281720430107526
Best estimator for Random Forest: RandomForestClassifier()
Training SVM...
Best parameters for SVM: {'C': 10, 'kernel': 'linear'}
Best CV score for SVM: 0.8154838709677419
Best estimator for SVM: SVC(C=10, kernel='linear')

Random forest would be a good model for binary classification, considering its high CV score.