In [1]:
import pandas as pd
#required for reading .xml files
import xml.etree.ElementTree as ET
#required for navigating machine's directory
import glob
import os.path
import psycopg2
#required for communicating with SQL database
from sqlalchemy import create_engine

In [2]:
conn_string  = "postgresql://cindy:cindy@localhost:5432/lab4"
rawdata_path = "./data/"
staging_data_dir = './staging_data'
table_name = 'car_data'

### Utility function for writing data into the SQL database

In [3]:
def insert_to_table(data: pd.DataFrame, table_name:str):
    db = create_engine(conn_string)
    conn = db.connect()
    data.to_sql(table_name, conn, if_exists="replace", index=False)
    conn.close()

# Step one : Extract data from ./data/ folder

In [4]:
all_files = glob.glob('./data/*')

# Output the list of files
for file in all_files:
    print(file)

./data/used_car_prices2.json
./data/used_car_prices3.json
./data/used_car_prices2.csv
./data/used_car_prices1.xml
./data/used_car_prices3.csv
./data/used_car_prices3.xml
./data/used_car_prices2.xml
./data/used_car_prices1.csv
./data/used_car_prices1.json

### Function to extract data from one .csv file

In [5]:
def extract_from_csv(file_to_process: str) -> pd.DataFrame:
    df = pd.read_csv(file_to_process)
    return df

### Function to extract data from one .json file

In [6]:
def extract_from_json(file_to_process: str) -> pd.DataFrame:
    df = pd.read_json(file_to_process, lines=True)
    return df

### Function to extract data from one  .xml file

In [7]:
def extract_from_xml(file_to_process: str) -> pd.DataFrame:
    dataframe = pd.DataFrame(columns = columns)
    tree = ET.parse(file_to_process)
    root = tree.getroot()
    for person in root:
        car_model = person.find("car_model").text
        year_of_manufacture = int(person.find("year_of_manufacture").text)
        price = float(person.find("price").text)
        fuel = person.find("fuel").text
        sample = pd.DataFrame({"car_model":car_model, "year_of_manufacture":year_of_manufacture, "price":price, "fuel":fuel}, index = [0])
        dataframe = pd.concat([dataframe, sample], ignore_index=True)
    return dataframe

### Function to extract data from the ./data/ folder

In [8]:
def extract(folder,cols) -> pd.DataFrame:
    extracted_data = pd.DataFrame(columns = cols)
    #for csv files
    for csv_file in glob.glob(os.path.join(folder, "*.csv")):
        df = extract_from_csv(csv_file)
        df.head()
        extracted_data = pd.concat([extracted_data, df], ignore_index=True)
    #for json files
    for json_file in glob.glob(os.path.join(folder, "*.json")):
        extracted_data = pd.concat([extracted_data, extract_from_json(json_file)], ignore_index=True)
    #for xml files
    for xml_file in glob.glob(os.path.join(folder, "*.xml")):
        extracted_data = pd.concat([extracted_data, extract_from_xml(xml_file)], ignore_index=True)
    return extracted_data

### Extract the data

In [9]:
columns = ['car_model','year_of_manufacture','price', 'fuel']

def main():
    data = extract("data",columns)
    insert_to_table(data, "car_data")
    
    return data

data = main()

/tmp/ipykernel_3815/4111057678.py:7: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  extracted_data = pd.concat([extracted_data, df], ignore_index=True)
/tmp/ipykernel_3815/3387287639.py:11: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  dataframe = pd.concat([dataframe, sample], ignore_index=True)
/tmp/ipykernel_3815/3387287639.py:11: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  dataframe = pd.concat([dataframe, sample], ignore_index=True)
/tmp/ipykernel_3815/3387287639.py:11: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  dataframe = pd.concat([dataframe, sample], ignore_index=True)

In [10]:
data

        car_model year_of_manufacture         price    fuel
0        alto 800                2017   4253.731343  Petrol
1            ciaz                2015  10223.880597  Diesel
2            ciaz                2015  11194.029851  Petrol
3          ertiga                2015   9104.477612  Petrol
4           dzire                2009   3358.208955  Petrol
..            ...                 ...           ...     ...
85        etios g                2015   5895.522388  Petrol
86  corolla altis                2013   8208.955224  Petrol
87        corolla                2004   2238.805970  Petrol
88  corolla altis                2010   7835.820896  Petrol
89       fortuner                2012  21641.791045  Diesel

[90 rows x 4 columns]

# Step Two: Transformation of the data

In [11]:
staging_file = "cars.parquet"
staging_data_dir = "staging_data"

def transform(df):
    # db = create_engine(conn_string)
    # df = pd.read_sql_query(f'SELECT * FROM {table_name}',con=db)
    print(f"Shape of data {df.shape}")
    df['price'] = df['price'].apply(lambda x: round(x,2))
    df = df.drop_duplicates(subset='car_model')
    print(f"Shape of data {df.shape}")
    df.to_parquet(os.path.join(staging_data_dir, staging_file))

transform(data)

Shape of data (90, 4)
Shape of data (25, 4)

In [12]:
data.head()

  car_model year_of_manufacture     price    fuel
0  alto 800                2017   4253.73  Petrol
1      ciaz                2015  10223.88  Diesel
2      ciaz                2015  11194.03  Petrol
3    ertiga                2015   9104.48  Petrol
4     dzire                2009   3358.21  Petrol



# Step Three : Loading data for further modeling

In [13]:
# read from the .parquet file
def load() -> pd.DataFrame:
    data = pd.DataFrame()
    for parquet_file in glob.glob(os.path.join(staging_data_dir, "*.parquet")):
        data = pd.concat([pd.read_parquet(parquet_file),data])

    insert_to_table(data, table_name)

    return data

data = load()
print(data.shape)

(25, 4)