In [1]:
# Loading required package
import boto3
from io import BytesIO
import pandas as pd

In [2]:
# you need to change the credentials for yourself

s3 = boto3.client('s3',
                  aws_access_key_id='ASIAYAAO5HRMDY7Z4FEB',
                  aws_secret_access_key='HYpPvI7KMvdqAmXL352u6V6UBmvHtca53Y6CrzZ9',
                  aws_session_token='IQoJb3JpZ2luX2VjEA8aCXVzLWVhc3QtMiJHMEUCICfQBWpmRpESvw0Uj/+YBwV6hHXRzPDiM1jyNtURD9uFAiEA2zS6jOEC3aeBh53HrFWRbFbSxL4FLigt5v63yySb+JAq6wIISBAAGgw1NDk3ODcwOTAwMDgiDJH2Qsa77Lx/k3EoKSrIAoPVbg4JX8h9X6cpyOQG4lFGcTRS6f/CqabIK6htrO4gc5P+duMhfugX9p0Fbm/qVYVZr9OPoJ9PVyatDCxiUSruZa24b1ttK65+wm/e9pIy8oOZ8KXIFAI18k6+JyPaRsYjS1idz2Fd/WvwnIqdNlfyoatq1l2I4NJvBRyt9FQ2DoaOK9zortJPQSDF+4vowlebEMi7G3JojPIBo7jmFiZRrbpEtbwbQgsxajnX/m75ROeMc559rp9Kyj/YsjZgzY1AaBdF+swVBbpqT3RCKKSeBhqvDMdIR6KSj3uN2922VMh7DXOjlb+jtT+Q5Kf88aPqPirS3pijJkKcsJj2gDRc6MBZrty2eicL0GO13SjNWhdW8S2qnMFyAieEFcHVNdgROFJE7jwnBbUC2dqHpKg0kVLgnzTSX3wN6DbD7CS4WTHT1NUfGBUw5v/fsAY6pwErCnGIChNmPK19JU+YmV4yJA74uRcdK0FelC0GsVhEbbUamSL0ASIehWmP05Y+vvQGmhAJ5YuuSQJdc4r6KlmfE++gGIoILPDVE3NYTd+UB74oy6aa+uNnGV+rUEly2mNepygxMBGIyLxX99vWIjvwLtfOT5rT5yvzQlv3eGeMP7B7byNQKi3aVq9sv/68U26zV+ByUQpzGeQCoE4CX/oMoliVWmrMBg==')


bucket_name = 'de300spring2024'
object_key = 'robert_su/sample_dataset.csv'

In [3]:
csv_obj = s3.get_object(Bucket=bucket_name, Key=object_key)
body = csv_obj['Body']
csv_string = body.read().decode('utf-8')

In [4]:
df = pd.read_csv(BytesIO(csv_string.encode()))
print(df.head())

   ID           Name  Age         City
0   1       John Doe   28     New York
1   2     Jane Smith   32  Los Angeles
2   3    Emily Davis   45      Chicago
3   4  Michael Brown   22        Miami